<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orioton.pickacar">
    <!-- add internet permission -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- external storage permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- set wall paper permission -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".driver.FirebaseCon"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".client.ActivityCarList" />
        <activity android:name=".admin.AdminPackageDetailsActivity" />
        <activity android:name=".admin.AdminPackageListActivity" />
        <activity android:name=".admin.AdminAddNewPackageActivity" />
        <activity android:name=".client.ActivityPackages" />
        <activity android:name=".driver.JourneyList" />
        <activity android:name=".driver.AddReview" />
        <activity android:name=".driver.UserReviewsList" />
        <activity
            android:name=".client.ActivityUserDashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".client.ActivityAddJourney" />
        <activity android:name=".admin.AdminLoginActivity" />
        <activity android:name=".admin.AdminDashboardActivity" />
        <activity android:name=".admin.AdminRegisterActivity" />
        <activity android:name=".admin.AdminMainActivity" />
        <activity android:name=".driver.DriverSignUp" />
        <activity
            android:name=".admin.AdminAddNewCarActivity"
            android:parentActivityName=".admin.AdminCarListActivity" />
        <activity android:name=".driver.DriverLogin" />
        <activity android:name=".admin.AdminCarDetailsActivity" />
        <activity android:name=".admin.AdminCarListActivity" />
        <activity
            android:name=".client.ActivityUserProfile"
            android:label="User Profile" />
        <activity android:name=".client.ActivityDashboard" />
        <activity
            android:name=".admin.AdminHomeActivity"
            android:label="@string/title_activity_admin_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".client.ActivityLogIn"
            android:label="Sign In" />
        <activity
            android:name=".client.ActivitySignUp"
            android:label="Sign Up" />
        <activity android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>